# /_build
# /.vscode
# /programs/.vscode
# **/*.s
# **/*.ll
# **/*

*
!/**/
!*.*
/_build
/.vscode
/programs/.vscode
**/*.s
**/*.ll
**/*.bc
**/*.o
**/*.diff
**/*.err
**/*.native
**/*.log
**/*.output
**/*.tab.c